[user]
	email = jonidev@gmail.com
	name = Yoan Arnaudov
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	s = status -s
	lg = log --oneline --decorate --all --graph
[core]
	autocrlf = input
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
    autoSetupRemote = true
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
